<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="JsonFx" namespace="JsonFx.Client" assembly="JsonFx.Client"/>
				<add tagPrefix="JsonFx" namespace="JsonFx.History" assembly="JsonFx.History"/>
				<add tagPrefix="jbst" namespace="JsonFx.UI.Jbst" assembly="JsonFx.UI"/>
			</controls>
		</pages>
		<!-- set debug="false" to get script/style compaction/compression -->
		<customErrors mode="RemoteOnly"/>
		<compilation debug="true" defaultLanguage="c#">
			<buildProviders>
				<remove extension=".css"/>
				<add extension=".css" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client"/>
				<remove extension=".js"/>
				<add extension=".js" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client"/>
				<add extension=".jbst" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client"/>
				<add extension=".merge" type="JsonFx.Compilation.ResourceBuildProvider, JsonFx.Client"/>
				<add extension=".jrpc" type="JsonFx.Compilation.JsonServiceBuildProvider, JsonFx.IO"/>
			</buildProviders>
		</compilation>
		<httpHandlers>
			<add verb="*" path="*.css" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true"/>
			<add verb="*" path="*.js" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true"/>
			<add verb="*" path="*.jbst" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true"/>
			<add verb="*" path="*.merge" type="JsonFx.Handlers.ResourceHandlerFactory, JsonFx.Client" validate="true"/>
			<add verb="*" path="*.jrpc" type="JsonFx.Handlers.JsonServiceHandlerFactory, JsonFx.IO" validate="true"/>
		</httpHandlers>
		<globalization responseEncoding="UTF-8" requestEncoding="UTF-8"/>
		<xhtmlConformance mode="Strict"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="css;stylesheet" extension=".css" type="JsonFx.Compilation.CssResourceCodeProvider, JsonFx.Client"/>
			<compiler language="js;javascript" extension=".js" type="JsonFx.Compilation.ScriptResourceCodeProvider, JsonFx.Client"/>
			<compiler language="jbst;template" extension=".jbst" type="JsonFx.Compilation.JbstCodeProvider, JsonFx.UI"/>
			<compiler language="merge;resources" extension=".merge" type="JsonFx.Compilation.MergeResourceCodeProvider, JsonFx.Client"/>
		</compilers>
	</system.codedom>
	<system.webServer>
		<handlers>
			<!--
			<add name="JsonFx Merge" path="*.merge" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="JsonFx JSON-RPC" path="*.jrpc" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			-->
			<add name="JsonFx Merge" path="*.merge" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
			<add name="JsonFx JSON-RPC" path="*.jrpc" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
		</handlers>
	</system.webServer>
</configuration>
