<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="GoogleAnalyticsID" value="" />
	</appSettings>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="JsonFx" namespace="JsonFx.History" assembly="JsonFx.History"/>
			</controls>
		</pages>
		<!-- set debug="false" to get script compaction -->
		<compilation debug="false">
			<buildProviders>
				<remove extension=".css" />
				<add extension=".css" type="JsonFx.Compilation.CompactorBuildProvider, JsonFx.Client"/>
				<remove extension=".js"/>
				<add extension=".js" type="JsonFx.Compilation.CompactorBuildProvider, JsonFx.Client"/>
				<add extension=".jsonrpc" type="JsonFx.Compilation.JsonServiceBuildProvider, JsonFx.JsonRpc"/>
				<add extension=".jbst" type="JsonFx.Compilation.CompactorBuildProvider, JsonFx.Client"/>
			</buildProviders>
		</compilation>
		<httpHandlers>
			<add path="*.css" verb="*" type="JsonFx.Handlers.CssHandler, JsonFx.Client" validate="true"/>
			<add path="*.js" verb="*" type="JsonFx.Handlers.ClientScriptHandler, JsonFx.Client" validate="true"/>
			<add path="*.jsonfx" verb="*" type="JsonFx.Handlers.JsonFxScriptHandler, JsonFx.Client" validate="true"/>
			<add path="*.jsonrpc" verb="*" type="JsonFx.Handlers.JsonServiceHandlerFactory, JsonFx.JsonRpc" validate="true"/>
			<add path="*.jbst" verb="*" type="JsonFx.JsonML.JbstHandler, JsonFx.JsonML" validate="true"/>
			<add path="*.jsonp" verb="*" type="JsonpHandler" validate="true" />
		</httpHandlers>
		<httpModules>
			<add name="JsonMLBrowserModule" type="JsonFx.JsonML.JsonMLBrowserModule, JsonFx.JsonML" />
		</httpModules>
		<customErrors mode="RemoteOnly" />
		<xhtmlConformance mode="Strict"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="css;stylesheet" extension=".css" type="JsonFx.Compilation.CssCompactorCodeProvider, JsonFx.Client" />
			<compiler language="js;javascript" extension=".js" type="JsonFx.Compilation.ScriptCompactorCodeProvider, JsonFx.Client" />
			<compiler language="jbst;template" extension=".jbst" type="JsonFx.Compilation.JbstCodeProvider, JsonFx.JsonML" />
		</compilers>
	</system.codedom>
</configuration>
